<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<wicket:container wicket:id="content" ></wicket:container>
		<wicket:fragment wicket:id="writeFragment">
			<span wicket:id="palleteComp"></span>
		</wicket:fragment>
		<wicket:fragment wicket:id="readFragment">
			<span wicket:id="listview"> <span wicket:id="label">label</span><br />
			</span>
		</wicket:fragment>
	</wicket:panel>
</body>
</html>