<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>

		<h3>${LABEL_LOGIN_DATA_ADMIN}</h3>
		<p>${LABEL_LOGIN} ${ALOGIN}</p>
		<p>${LABEL_PASSWORD} ${APASSWORD}</p>
		</br>
		</br>
		<h3>${LABEL_LOGIN_DATA_RECEPTION}</h3>
		<p>${LABEL_LOGIN} ${LOGIN}</p>
		<p>${LABEL_PASSWORD} ${PASSWORD}</p>
		</br>
		</br>
		<p>${LABEL_BEST_REGARDS}</p>
        <p>${LABEL_SYSTEM_EES}</p>
	</body>
</html>