<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
	<meta name="author" content="QBSW, a.s.">
	<style>
	 body { color: #000000; background-color: #FEFEFE; background-repeat: no-repeat;
        	SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #C0C0C0;
	        font-family: Verdana, Arial, Helvetica, sans-serif;
	        font-size: 10px; font-weight: normal;}

	 td { font-family: Verdana, Arial, Helvetica, sans-serif;
	      font-size: 10px; font-weight: normal; color: #000000; vertical-align: top;cursor:default;
	      line-height:140%;}

	 p { font-family: Verdana, Arial, Helvetica, sans-serif;
	      font-size: 10px; font-weight: normal; color: #000000; vertical-align: top;cursor:default;
	      line-height:100%;}

	 a { color: #000000; text-decoration:none;font-weight: bold;
	     font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

	 a:hover { color: darkred; text-decoration:underline; font-weight: bold;
	           font-family: Verdana, Arial, Helvetica, sans-serif;
	           font-size: 10px; }
	</style>	
</head>	

<body>

<table style = "width: 530px; height: 100%; background-color: #F9F9F9;">
	<tr style="height: 20px;"><td colspan=2 style="background-color: lightgrey; font-weight: bold;">&nbsp; ${LABEL_USER_PASSWORD_PIN_IN_EES}</td></tr>
	
	<tr style="height:100%;"><td colspan=2>
	<br>
	
		<table>
			<thead>
				<tr><td></td><td></td></tr>
			</thead>
			<tbody>			
				<tr><td align="right">${LABEL_LOGIN} </td><td>&nbsp;${LOGIN}</td></tr>
				<tr><td align="right">${LABEL_PASSWORD} </td><td>&nbsp;${PASSWORD}</td></tr>
				<tr><td align="right">${LABEL_PIN} </td><td>&nbsp;${PIN}</td></tr>
			</tbody>
		</table>
	
	</br></br>
	
	</td></tr>
	<tr><td colspan=2>
	
	<table style="width: 100%; background-color: #F1F1F1; "><tr style="height: 9px;"><td style="font-size: 9px; font-weight: bold; width:250px; line-height:95%;">&nbsp; ${LABEL_SYSTEM_EES}</td><td style="font-size: 9px; font-weight: bold; text-align: right; line-height:95%;">:: QBSW, a.s. ${LABEL_YEAR} &nbsp; </td></tr>
	</table>
	
	</td></tr>
</table>

</body>
</html>
