<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<wicket:head>

</wicket:head>
</head>
<body>
	<wicket:panel>
			
		<div class="row-fluid">
			<div class="span12">
				<div class="pnp-confirm-actions">
					<a wicket:id="btnOk" name="btnOk" class="btn blue"><em class="icon-ok"></em> <wicket:message key="button.yes"></wicket:message></a>
					<a wicket:id="btnCancel" name="btnCancel" class="btn"><wicket:message key="button.no"></wicket:message></a>
				</div>
			</div>
		</div> 
			
	</wicket:panel>
</body>
</html>