<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<wicket:head>

</wicket:head>
</head>
<body>
	<wicket:panel>
		<form wicket:id="form" class="form-horizontal">	
		
			<div class="form-group">
				<div wicket:id="activityContainer1">
					<div class="form-group-item">
						<label class="col-sm-3 control-label"><wicket:message key="timesheet.activity"/></label>
						<div class="col-sm-7 controls">
							<select id="activity1" wicket:id="activity1" style="width: 100%;" class="form-control search-select search-select-activities2">
							<optgroup wicket:id="myActivitiesLabel">
								<wicket:container wicket:id="myActivity">
									<option wicket:id="option"></option>
								</wicket:container>
							</optgroup>
							<optgroup wicket:id="lastUsedActivitiesLabel">
								<wicket:container wicket:id="lastUsedActivity">
									<option wicket:id="option"></option>
								</wicket:container>
							</optgroup>
							<optgroup wicket:id="allActivitiesLabel">
								<wicket:container wicket:id="allActivity">
									<option wicket:id="option"></option>
								</wicket:container>
							</optgroup>
						</select>												
						</div>
					</div>
				</div>
				<div class="col-sm-1" style="margin-top: 5px;">
					<input wicket:id="activityCheckBox" class="grey" type="checkbox"/>
				</div>
			</div>
		
			<div class="form-group">
				<div wicket:id="projectContainer1">
					<div class="form-group-item">
						<label class="col-sm-3 control-label"><wicket:message key="timesheet.project"/></label>
						<div class="col-sm-7 controls">
							<select id="project1" wicket:id="project1" style="width: 100%;" class="form-control search-select search-select-projects2">
								<optgroup wicket:id="myProjectsLabel">
									<wicket:container wicket:id="myProject">
										<option wicket:id="option"></option>
									</wicket:container>
								</optgroup>
								<optgroup wicket:id="lastUsedProjectsLabel">
									<wicket:container wicket:id="lastUsedProject">
										<option wicket:id="option"></option>
									</wicket:container>
								</optgroup>
								<optgroup wicket:id="allProjectsLabel">
									<wicket:container wicket:id="allProject">
										<option wicket:id="option"></option>
									</wicket:container>
								</optgroup>
							</select>	
						</div>
					</div>
				</div>
				<div class="col-sm-1" style="margin-top: 5px;">
					<input wicket:id="projectCheckBox" class="grey" type="checkbox"/>
				</div>		
			</div>
			
				<div class="form-group">
					<label class="col-sm-3 control-label"><wicket:message key="timesheet.phase"/></label>
					<div class="col-sm-7">
						<input wicket:id="phase" type="text" class="form-control"/>
					</div>
					<div class="col-sm-1" style="margin-top: 5px;">
						<input wicket:id="phaseCheckBox" class="grey" type="checkbox"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label"><wicket:message key="timesheet.note"/></label>
					<div class="col-sm-7">
						<textarea wicket:id="note" rows="5" class="form-control"></textarea>
					</div>
					<div class="col-sm-1" style="margin-top: 5px;">
						<input wicket:id="noteCheckBox" class="grey" type="checkbox"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-11"> 
						<div class="form-actions pull-right">
							<button wicket:id="btnOk" name="btnOk" class="btn btn-green"><wicket:message key="common.button.massedit"></wicket:message></button>
							<button wicket:id="btnCancel" name="btnCancel" class="btn"><wicket:message key="button.cancel"></wicket:message></button>
						</div>
					</div>
				</div> 
		</form>	
	</wicket:panel>
</body>
</html>